name: Deploy Chat App

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Build & deploy Docker stack
        run: |
          docker compose down
          docker compose up -d --build
